<h3> 
    For installing bootstrap, I followed the instructions on the Ruby on Rails Tutorial that is posted on iLearn. (bootstrap-sass) I used Google/RailsGuides to figure out how to set up a route for '/Pages/project_2'. 
</h3>